@{
    ViewData["Title"] = "Privacy Prolicy";
}
@{
    await Html.RenderPartialAsync("_HeadNavBar");
}
<h1>@ViewData["Title"]</h1>
<p>Website Developer Statement:</p>
<p>All personal information from users will be strictly protected by our website.</p>
<div>
    <a asp-action="ViewAccount">Back to Accounts</a>
</div>