@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2 class="text-center">Welcome To Admin Page</h2>

    <div class="text-center">
        <img src="~/img/bank.jpg" alt="bank" />
    </div>
</div>

